/* @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

.bg-grid-paper {
    background-image:  linear-gradient(#0000000e 1.5px, transparent 1.5px), linear-gradient(to right, #00000015 1.5px, #fbffed 1.5px);
    background-size: 40px 40px;
}

html {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
  }
  
.fade-top-mask {
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
}
